@tailwind base;
@tailwind components;
@tailwind utilities;

/* 禁用 Element Plus 默认样式可能与 Tailwind 冲突的部分 */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}
